.toogle-button
  background: gray
  border-radius: 80%
  width: 28px
  height: 28px
  opacity: 0.6
  display: block
  display: flex
  justify-content: center
  align-items: flex-center
  border: 1px white solid

  img
    width: 50%
    height: auto
