$dark-value-theme:(
  name: "dark",
  header-bg-color: #17171F,
  header-text-color: white,
  header-border-botom-color: #494949,
  header-link-hover-bg-color: #494949,
  left-side-bg-color: #17171F,
  left-side-text-color: white,
  left-side-border-right-color: #494949,
  left-side-link-hover-bg-color: #494949,
  left-side-collapse-button-bg-color: #494949,
  right-side-bg-color: #17171F ,
  right-side-text-color: white,
  right-side-card-bg-color: #17171F,
  footer-bg-color: #17171F,
  footer-text-color: white,
  footer-border-top-color: #494949
)
