$dark-value-theme:(
  name: "dark",
  header-bg-color: black,
  header-text-color: white,
  header-border-botom-color: #727272,
  header-link-hover-bg-color: #727272,
  left-side-bg-color: black,
  left-side-text-color: white,
  left-side-border-right-color: #727272,
  left-side-link-hover-bg-color: #727272,
  left-side-collapse-button-bg-color: #727272,
  right-side-bg-color: black,
  right-side-text-color: white,
  right-side-card-bg-color: black,
  footer-bg-color: black,
  footer-text-color: white,
  footer-border-top-color: #727272
)
