<aside class="side-navigation" [ngClass]="{'is-collapsed': (isCollapsed$ | async) }">
  <span class="collapse-button-container">
    <app-button-icon
      [isActive]="(isCollapsed$ | async)"
      (toggle)="sideNavigationFacade.toogleSideNav()"
      customClass="collapse-button"
      imgActive="assets/right-arrow.svg"
      imgInactive="assets/left-arrow.svg"
      role="button"
      aria-label="Toggle Side Navigation"/>
  </span>
  <ng-container *ngIf="!(isCollapsed$ | async)">
    <ul class="routes-container">
      <li class="cursor-pointer"> <a class="nav-link" [routerLink]="['users']">Users</a></li>
      <li class="cursor-pointer"> <a class="nav-link" [routerLink]="['products']">Products</a></li>
      <li class="cursor-pointer"> <a class="nav-link" [routerLink]="['categories']">Categories</a></li>
      <li class="cursor-pointer"> <a class="nav-link" [routerLink]="['brands']">Brands</a></li>
    </ul>
  </ng-container>
</aside>
