.side-navigation
  background: #363636
  display: flex
  z-index: 2
  overflow-y: scroll
  position: relative
  height: 100%
  border-right: rgba(168, 179, 207, 0.2) solid 1px
  transition: width 0.5s ease, background 0.5s ease
  width: 250px

.is-collapsed
  width: 0px
  background: gray


.side-navigation::-webkit-scrollbar
  display: none

.routes-container
  display: flex
  flex-direction: column
  flex: start 1
  padding: 0px
  width: 100%
  margin: 0px
  li
    list-style-type: none
    width: auto
    text-align: start
    a
      padding: 20px
      color: #ffffff
      font-weight: bold
      text-decoration: none
      font-size: 20px
      display: block
      &:hover
        background: #b4b4b4
      transition: background 0.5s ease
