<header class="header" [ngClass]="{'justify-content-center': (resposiveService.isMobile$ | async)}">
  <h1 class="cursor-pointer home-link" [routerLink]="['/']" >Angular Demo</h1>
  <ul>
    <ng-container *ngIf="!(resposiveService.isMobile$ | async)">
      <li><input [value]="themeService.isDarkTheme$ | async" #themeCheck (change)="updateTheme($event)" type="checkbox"> Dark </li>
      <li class="cursor-pointer"> <a class="nav-link" [routerLink]="['users']">Users</a></li>
      <li class="cursor-pointer"> <a class="nav-link">Products</a></li>
      <li class="cursor-pointer"> <a class="nav-link">Login</a></li>
    </ng-container>
  </ul>
</header>
