<div class="main-container">
  <app-header class="header"/>
  <section class="principal-content">
    <app-side-navigation-bar class="left-side" [ngClass]="{'is-mobile': responsiveService.isTabletOrMobile$ | async}"/>
    <section class="right-side">
      <main
        class="router-container"
        [ngClass]="{
          'mobile-width': responsiveService.isMobile$ | async,
          'tablet-width': responsiveService.isTablet$ | async,
          'desktop-width': responsiveService.isDesktop$ | async,
          'large-width': responsiveService.isLarge$ | async
        }">
        <router-outlet/>
      </main>
      <app-footer class="footer"/>
    </section>
  </section>
</div>
