main
  display: flex
  height: auto
  overflow-y: visible
  height: calc( 100vh - 50px )
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  background: #0f0f0f

main::-webkit-scrollbar
  display: none


app-toogle-button
  cursor: pointer
  position: absolute
  top: 10px
  left: -10px
  z-index: 3
