<div class="main-container">
  <app-header class="header"/>
  <section class="principal-content">
    <app-side-navigation-bar class="left-side"/>
    <section class="right-side">
      <section
        class="router-container"
        [ngClass]="{
          'mobile-width': responsiveService.isMobile$ | async,
          'tablet-width': responsiveService.isTablet$ | async,
          'desktop-width': responsiveService.isDesktop$ | async,
          'large-width': responsiveService.isLarge$ | async
        }">
        <router-outlet></router-outlet>
      </section>
      <app-footer class="footer"/>
    </section>
  </section>
</div>
