<div class="main-container">
  <app-navigation-bar></app-navigation-bar>
  <section class="principal-content">
    <app-side-navigation-bar></app-side-navigation-bar>
    <section class="right-side">
      <app-toogle-button
        [isActive]="(isCollapsed$ | async)"
        (toggle)="sideNavigationFacade.toogleSideNav()"
        imgActive="assets/right-arrow.svg"
        imgInactive="assets/left-arrow.svg"
        role="button"
        aria-label="Toggle Side Navigation"></app-toogle-button>
      <section
        class="router-container"
        [ngClass]="{
          'mobile-width': responsiveService.isMobile$ | async,
          'tablet-width': responsiveService.isTablet$ | async,
          'desktop-width': responsiveService.isDesktop$ | async,
          'large-width': responsiveService.isLarge$ | async
        }">
        <router-outlet></router-outlet>
      </section>
    </section>
  </section>
</div>
