/* You can add global styles to this file, and also import other style files */
@use "./global-styles/global-styles"

html, body, app-root
  min-height: 100vh


body
  margin: 0
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Ubuntu, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-weight: 400 !important
  place-content: center
  min-height: 100vh

h1
  font-weight: 400

a
  font-weight: 400 !important

.cursor-pointer
  cursor: pointer
